%h1 Listing employees
%table
  %tr
    %th Company
    %th Name
    %th Department
    %th Birthday
    %th
    %th
    %th
  - @employees.each do |employee|
    %tr
      %td= employee.company
      %td= employee.name
      %td= employee.department
      %td= employee.birthday
      %td= link_to 'Show', employee
      %td= link_to 'Edit', edit_employee_path(employee)
      %td= link_to 'Destroy', employee, :confirm => 'Are you sure?', :method => :delete
%br
= link_to 'New Employee', new_employee_path
