%h1 
  Listing companies
= fancygrid :companies do |column, record, value|
  - case column.name
  - when :actions
    = link_to 'Show', record
    = link_to 'Edit', edit_company_path(record)
    = link_to 'Destroy', record, :confirm => 'Are you sure?', :method => :delete
    
%br
= link_to 'New Company', new_company_path
